{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "plugin:security/recommended",
    "prettier/standard"
  ],
  "plugins": ["prettier", "security"],
  "rules": {
    "no-console": "error",
    "comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  },
  "globals": {}
}
